<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track' => true %>
<main>
  <div class="elementData">
    <table id='periodic-table' class="table-sm table-borderless">
      <tbody>
        <tr>
          <% @collumsLegend.each do |collum| %>
            <td><h2><%= collum %></h2></td>
          <% end %>
        </tr>
          <% @periodicTable.each_with_index do |line, i| %>
          <tr>
            <td><h2><%= i %></h2></td>
            <% line.each_with_index do |element| %>
              <td>
                <% if (element != nil) %>
                <%= link_to table_path(@elements[element]["name"].downcase) do %> 
                  <section class="<%= @elements[element]["category"]%>">
                    <span><%= @elements[element]["number"] %></span>
                    <h2><%= @elements[element]["symbol"] %></h2>
                    <h3><%= @elements[element]["name"] %></h3>
                    <h4><%= @elements[element]["atomic_mass"] %></h4>
                  </section>
                <% end %>
                <%end%>
              </td>
            <% end %>
          </tr>   
          <% end %>
      </tbody>
    </table>
  </div>
  <div class="subtitle">
    <h2>Legenda</h2>
    <table id='subtitle-table' class="table table-bordered">
              <tbody>
                  <tr>
                      <td class= "subtitle-alkali-metal"><h3>Metais Alcalinos</h3></td>
                      <td class= "subtitle-alkaline-earth-metal"><h3>Metais Alcalino Terrosos</h3></td>
                      <td class= "subtitle-lanthanide"><h3>Lantanídeos</h3></td>
                      <td class= "subtitle-actinide"><h3>Actinídios</h3></td>
                      <td class= "subtitle-transition-metal"><h3>Metais de Transição</h3></td>
                      <td class= "subtitle-post-transition-metal"><h3>Outros Metais</h3></td>
                      <td class= "subtitle-metalloid"><h3>Semimetais</h3></td>
                      <td class= "subtitle-diatomic-nonmetal"><h3>Não Metais</h3></td>
                      <td class= "subtitle-noble-gas"><h3>Gases Nobres</h3></td>
                  </tr>
              </tbody>
    </table>
    </div>
</div>
</main>