<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'show', media: 'all', 'data-turbolinks-track' => true %>
<main>
    <div class="elementName">
        <h2><%= @element["name"] %></h1>
    </div>
    <div class="elementBody">
        <div class="elementDiagram">
            <section class="<%= @element["category"]%>">
                <span><%= @element["number"] %></span>
                <h2><%= @element["symbol"] %></h2>
                <h3><%= @element["name"] %></h3>
                <h3><%= @element["shells"] %></h3>
                <h3><%= @element["atomic_mass"] %></h3>
            </section>
        </div>
    </div>
    <div class="dataBody">
        <div class="elementData">
            <table id='element-table' class="table table-bordered">
            <thead  class="thead-dark">
                <tr>
                <th><h5>Dado<h5></th>
                <th><h5>Informação sobre<h5></th>
                </tr>
            </thead>

            <tbody>
                <% @element.each do |key, value| %>
                <tr>
                    <td><h5><%= key %><h5></td>
                    <td><h5><%= value %><h5></td>
                </tr>
                <% end %>
            </tbody>
            </table>
        </div>
    </div>
</main>